.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  width: 100%;
  padding: 1em 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2.25em;
}

.header-list {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  list-style-type: none;
  padding: 0;
}

.header-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header-right {
  text-align: right;
}
